<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Research Team</h2>
                <hr class="primary">
                 <p class="text-center">
                    This research was conducted by 
                    <a href="https://mbackendal.github.io/">Matilda Backendal</a>,
                    <a href="https://mirohaller.com">Miro Haller</a>, and
                    <a href="https://inf.ethz.ch/people/person-detail.paterson.html">Prof. Dr. Kenny Paterson</a> from the
                    <a href="https://appliedcrypto.ethz.ch/">Applied Crypto Group</a> at ETH Zurich.
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-4 text-center">
            <a href="mailto:{{ site.email }}">
                <i class="fa-regular fa-envelope fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <a href="https://github.com/{{ site.github_username }}">
                <i class="fa-brands fa-github fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
</section>
