<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>MEGA: Malleable Encryption Goes Awry</h1>
            <hr>
            <p>
                MEGA is a leading cloud storage platform with more than 250 million users and 1000 Petabytes of stored data, which aims to achieve user-controlled end-to-end encryption.
                We show that MEGA's system does not protect its users against a malicious server and present five distinct attacks, which together allow for a full compromise of the confidentiality of user files.
                Additionally, the integrity of user data is damaged to the extent that an attacker can insert malicious files of their choice which pass all authenticity checks of the client.
                We built proof-of-concept versions of all the attacks, showcasing their practicality and exploitability.
            </p>
            <a href="#paper" class="btn btn-primary btn-xl page-scroll">Skip to Paper</a>
        </div>
    </div>
</header>
