<aside class="bg-primary" id="paper">
    <div class="container">
        <div class="call-to-action">
            <h2>Paper</h2>
            <p>
                More information and technical descriptions can be found in our paper.
                <br>
                <br>
                 <b>MEGA: Malleable Encryption Goes Awry</b>
                <br>
                Matilda Backendal, Miro Haller and Kenneth G. Paterson
                <br>
                <i>To appear in: 44th IEEE Symposium on Security and Privacy, 2023.</i>
            </p>
            <p class="text-center">
                <a href="pdf/mega-malleable-encryption-goes-awry.pdf" target="_blank" class="btn btn-default btn-xl wow pulse">Read Paper</a>
            </p>
        </div>
    </div>
</aside>
